<div class="container mt-5">
  <h1 class="text-center mb-5">ABOUT GETCRANK</h1>
  <div>
     <p class="mb-5" style="font-size: 22px; text-align: center;">Driven by a whole bunch of extreme sports we are eager to enable every enthusiast to find a local that is uplifting their trips to certain destinations</p>
  </div>
  <div class="text-center">
    <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/24473966?h=37827a6b28&autoplay=1#t=2m1s&color=faee00&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>  </div>
</div>
