.accordion-button:not(.collapsed) {
  color: white;
  background-color: black;
  border: 1px solid white;
  border-radius: $border-radius;
}
.accordion-button {
  color: $white;
}

.accordion-item:first-of-type .accordion-button {
  color: white;}
