.banner {
  background-size: cover;
  background-position: top;
  padding: 20px;
  margin-bottom: 20px;
  min-height: 100vh;
  background-image: linear-gradient(to right, rgb(0, 0, 0), #a2047d60), url("offer.png");
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 70px;
  font-weight: bold;
  text-transform: uppercase;
}

.banner h2 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
}

.banner p {
  font-size: 28px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.55);
  font-weight: bold;
}
/**slim banner**/
.banner-slim {
  background-size: cover;
  background-position: top;
  padding: 20px;
  margin-bottom: 20px;
  min-height: 25vh;
}

.banner-slim h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 70px;
  font-weight: bold;
  text-transform: uppercase;
}

.banner-slim h2 {
  margin: 0;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 30px;
}

.banner-slim p {
  font-size: 16px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-weight: bolder;

}



/**slim banner**/
.banner-slim-center {
  text-align: center;
  background-size: cover;
  background-position: center;
  padding: 20px;
  margin-bottom: 20px;
}

.banner-slim-center-slim h1 {
  text-align: center;
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 70px;
  font-weight: bold;
  text-transform: uppercase;
}

.banner-slim-center-slim h2 {
  text-align: center;
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
}

.banner-slim-center p {
  text-align: center;
  font-size: 28px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-weight: bold;
}
