.button-bottom {
  background: $black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  padding: 0px 40px;
  color: rgba(255, 255, 255, 0.938);
}
.button-bottom-links {
  display: flex;
  align-items: center;
}
.button-bottom-links a {
  color: white;
  opacity: 0.8;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.button-bottom-links a:hover {
  color: $accent;
  transition: 0.5s;
  opacity: 1;
}
.button-bottom .fa-heart {
  color: white;
}

.mx-5.button-bottom {
position: relative;
}

@media only screen and (max-width: 600px) {
  .button-bottom {
    flex-direction: column;
    margin-top: 50px !important;
    padding: 3px;
    height: 100px;
  }
  .button-bottom .btn-accent{
    margin: 2px;
  }
}
