body {
  color: $white;
  .btn {
    text-transform: uppercase;
  }
  h1 {
    text-transform: uppercase;
  }
  h2 {
    text-transform: uppercase;
  }
}

.form-control {
  color: $white;
}
.form-control:focus {
  color: $white;
}
